<main>
    <h3 class="display"><b>Top Headlines</b></h3>
    <div class="container">
        <div class="row">
            <div *ngFor="let d of Display" class="col-lg-3 mb-3 mt-3 p-4" style="background-color:hwb(0 83% 17%);">
                <div class="box">
                    <img src="{{d.urlToImage}}" alt="" width="100%">
                    <b>{{d.title}}</b>
                    <p>{{d.description}}</p>
                    <a [routerLink]="['newsdescription',d.title]"><button type="button">Read
                            More</button></a>
                </div>
            </div>
        </div>
    </div>
</main>