<div class="container">
    <h2 class="display" style="padding:5px;">{{Display[id].title}}</h2>
    <img src="{{Display[id].urlToImage}}" alt="" width="100%" height="100%">
    <blockquote class="blockquote">
        <p>{{Display[id].description}}</p>
        <p>{{Display[id].content}}...<a href="{{Display[id].url}}">Read more</a></p>
        <footer class="blockquote-footer" style="text-align: right;">{{Display[id].author}}</footer>
        <p class="ending"><b>Published At:</b>{{Display[id].publishedAt}}</p>
    </blockquote>
    

</div>